@import "tailwindcss";

@theme {
  --color-primary: #2b6cee;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: var(--font-display);
}
